<?xml version="1.0" encoding="utf-8"?>
<domains xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <!-- Taken from the original repo from the transform in the Foundation.Accounts module. -->
    <domain xdt:Transform="InsertIfMissing" xdt:Locator="Match(name)"  name="modules"/>

    <!-- Taken from the original repo from the transform in the Project.Habitat module. -->
    <domain xdt:Transform="InsertIfMissing" xdt:Locator="Match(name)"  name="habitat"/>
</domains>