<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <initialize>
        <processor type="Sitecore.Feature.Demo.Pipelines.RegisterWebApiRoutes, Sitecore.Feature.Demo">
          <patch:attribute name="ZeroDeploy" value="true"/>
        </processor>
      </initialize>
    </pipelines>

    <services>
      <register serviceType="Sitecore.Feature.Demo.Interfaces.Services.IProfileProvider, Sitecore.Feature.Demo.Interfaces"
                implementationType="Sitecore.Feature.Demo.Services.ProfileProvider, Sitecore.Feature.Demo"
                lifetime="Transient">
        <patch:attribute name="serviceType">Sitecore.Feature.Demo.Interfaces.Services.IProfileProvider</patch:attribute>
        <patch:attribute name="implementationType">Sitecore.Feature.Demo.Services.ProfileProvider</patch:attribute>
      </register>
      <register serviceType="Sitecore.Foundation.Accounts.Providers.IContactProfileProvider, Sitecore.Foundation.Accounts"
                implementationType="Sitecore.Foundation.Accounts.Providers.ContactProfileProvider, Sitecore.Foundation.Accounts"
                lifetime="Transient">
        <patch:attribute name="serviceType">Sitecore.Foundation.Accounts.Providers.IContactProfileProvider</patch:attribute>
        <patch:attribute name="implementationType">Sitecore.Foundation.Accounts.Providers.ContactProfileProvider</patch:attribute>
      </register>

      <register serviceType="Sitecore.Feature.Demo.Controllers.DemoController, Sitecore.Feature.Demo"
                implementationType="Sitecore.Feature.Demo.Controllers.DemoController, Sitecore.Feature.Demo"
                lifetime="Transient">
        <patch:delete />
      </register>
    </services>
  </sitecore>
</configuration>