<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <mvc.getPageRendering>
        <processor type="Sitecore.Foundation.Assets.Pipelines.GetPageRendering.AddAssets, Sitecore.Foundation.Assets">
          <patch:attribute name="ZeroDeploy" value="true"/>
        </processor>
      </mvc.getPageRendering>
    </pipelines>
  </sitecore>
</configuration>