<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <getRenderingDatasource>
        <processor type="Sitecore.Foundation.Multisite.Pipelines.GetDatasourceLocationAndTemplateFromSite, Sitecore.Foundation.Multisite">
          <patch:attribute name="ZeroDeploy" value="true"/>
        </processor>
      </getRenderingDatasource>
      <httpRequestBegin>
        <processor type="Sitecore.Foundation.Multisite.Pipelines.ResolveContentLanguage, Sitecore.Foundation.Multisite">
          <patch:attribute name="ZeroDeploy" value="true"/>
        </processor>
      </httpRequestBegin>
    </pipelines>
    <commands>
      <command name="multisite:createdatasourcesetting" type="Sitecore.Foundation.Multisite.Commands.CreateRenderingSettings, Sitecore.Foundation.Multisite">
        <patch:attribute name="ZeroDeploy" value="true"/>
        <patch:attribute name="type" value="Sitecore.Foundation.Multisite.Commands.CreateRenderingSettings"/>
      </command>
      <command name="webedit:openexperienceeditor" type="Sitecore.Foundation.Multisite.Commands.OpenExperienceEditor, Sitecore.Foundation.Multisite">
        <patch:attribute name="ZeroDeploy" value="true"/>
        <patch:attribute name="type" value="Sitecore.Foundation.Multisite.Commands.OpenExperienceEditor"/>
      </command>
    </commands>
  </sitecore>
</configuration>