@model Sitecore.Feature.PageContent.Feature.PageContent._HasPageContent

@if (!Html.Glass().IsInEditingMode && !String.IsNullOrEmpty(Model.Body))
{
  return;
}

<div class="m-b-2">
  @Html.Glass().Editable(Model, x => x.Body)
</div>