@model Sitecore.Feature.PageContent.Feature.PageContent._HasPageContent

<header>
  <h1>
   @Html.Glass().Editable(Model, x => x.Title)
  </h1>
  @if (!String.IsNullOrWhiteSpace(Model.Summary) || Html.Glass().IsInEditingMode)
  {
    <div class="lead">
      @Html.Glass().Editable(Model, x => x.Summary)
    </div>
  }
</header>