<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <services>
      <!-- Configure using code -->
      <!-- 
        <configurator type="InversionOfControl.Sitecore.Configuration.ControllerConfigurator, InversionOfControl.Sitecore" />
        -->

      <!-- Configure using config -->
      <register serviceType="Sitecore.Feature.Accounts.Controllers.AccountsController, Sitecore.Feature.Accounts"
                implementationType="Sitecore.Feature.Accounts.Controllers.AccountsController, Sitecore.Feature.Accounts" />
      
      <register serviceType="Sitecore.Feature.Accounts.Repositories.IAccountRepository, Sitecore.Feature.Accounts"
                implementationType="Sitecore.Feature.Accounts.Repositories.AccountRepository, Sitecore.Feature.Accounts"
                lifetime="Transient" />

      <register serviceType="Sitecore.Feature.Accounts.Services.INotificationService, Sitecore.Feature.Accounts"
                implementationType="Sitecore.Feature.Accounts.Services.NotificationService, Sitecore.Feature.Accounts"
                lifetime="Transient" />

      <register serviceType="Sitecore.Feature.Accounts.Services.IAccountSettingsService, Sitecore.Feature.Accounts"
                implementationType="Sitecore.Feature.Accounts.Services.AccountSettingsService, Sitecore.Feature.Accounts"
                lifetime="Transient" />

      <register serviceType="Sitecore.Feature.Accounts.Services.IUserProfileService, Sitecore.Feature.Accounts"
                implementationType="Sitecore.Feature.Accounts.Services.UserProfileService, Sitecore.Feature.Accounts"
                lifetime="Transient" />

      <register serviceType="Sitecore.Feature.Accounts.Services.IAccountTrackerService, Sitecore.Feature.Accounts"
                implementationType="Sitecore.Feature.Accounts.Services.AccountTrackerService, Sitecore.Feature.Accounts"
                lifetime="Transient" />

      <register serviceType="Sitecore.Feature.Accounts.Services.IContactProfileService, Sitecore.Feature.Accounts"
                implementationType="Sitecore.Feature.Accounts.Services.ContactProfileService, Sitecore.Feature.Accounts"
                lifetime="Transient" />


    </services>
  </sitecore>
</configuration>