<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <services>
      
      <register serviceType="Sitecore.Foundation.SitecoreExtensions.Services.ITrackerService, Sitecore.Foundation.SitecoreExtensions"
                implementationType="Sitecore.Foundation.SitecoreExtensions.Services.TrackerService, Sitecore.Foundation.SitecoreExtensions"
                lifetime="Transient" />
      <register serviceType="Sitecore.Feature.Accounts.Services.IAccountsSettingsService, Sitecore.Feature.Accounts"
                implementationType="Sitecore.Feature.Accounts.Services.AccountsSettingsService, Sitecore.Feature.Accounts"
                lifetime="Transient" />
      <register serviceType="Sitecore.Feature.Accounts.Services.IAccountTrackerService, Sitecore.Feature.Accounts"
                implementationType="Sitecore.Feature.Accounts.Services.AccountTrackerService, Sitecore.Feature.Accounts"
                lifetime="Transient" />
      <register serviceType="Sitecore.Feature.Accounts.Repositories.IAccountRepository, Sitecore.Feature.Accounts"
                implementationType="Sitecore.Feature.Accounts.Repositories.AccountRepository, Sitecore.Feature.Accounts"
                lifetime="Transient" />
      
      <register serviceType="Sitecore.Feature.Accounts.Services.INotificationService, Sitecore.Feature.Accounts"
                implementationType="Sitecore.Feature.Accounts.Services.NotificationService, Sitecore.Feature.Accounts"
                lifetime="Transient" />
      <register serviceType="Sitecore.Feature.Accounts.Services.IProfileSettingsService, Sitecore.Feature.Accounts"
                implementationType="Sitecore.Feature.Accounts.Services.ProfileSettingsService, Sitecore.Feature.Accounts"
                lifetime="Transient" />
      <register serviceType="Sitecore.Feature.Accounts.Services.IUserProfileService, Sitecore.Feature.Accounts"
                implementationType="Sitecore.Feature.Accounts.Services.UserProfileService, Sitecore.Feature.Accounts"
                lifetime="Transient" />
      <register serviceType="Sitecore.Foundation.Accounts.Providers.IContactProfileProvider, Sitecore.Foundation.Accounts"
                implementationType="Sitecore.Foundation.Accounts.Providers.ContactProfileProvider, Sitecore.Foundation.Accounts"
                lifetime="Transient" />
      <register serviceType="Sitecore.Feature.Accounts.Services.IContactProfileService, Sitecore.Feature.Accounts"
                implementationType="Sitecore.Feature.Accounts.Services.ContactProfileService, Sitecore.Feature.Accounts"
                lifetime="Transient" />

      <register serviceType="Sitecore.Feature.Accounts.Controllers.AccountsController, Sitecore.Feature.Accounts"
                implementationType="Sitecore.Feature.Accounts.Controllers.AccountsController, Sitecore.Feature.Accounts"
                lifetime="Transient" />

    </services>
  </sitecore>
</configuration>