<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <events>
      <event name="item:added">
        <handler type="Sitecore.Foundation.LocalDatasource.Infrastructure.Events.UpdateLocalDatasourceReferences, Sitecore.Foundation.LocalDatasource">
          <patch:attribute name="ZeroDeploy" value="true"/>
        </handler>
      </event>
      <event name="item:copied">
        <handler type="Sitecore.Foundation.LocalDatasource.Infrastructure.Events.UpdateLocalDatasourceReferences, Sitecore.Foundation.LocalDatasource">
          <patch:attribute name="ZeroDeploy" value="true"/>
        </handler>
      </event>
    </events>
    <pipelines>
      <getRenderingDatasource>
        <processor type="Sitecore.Foundation.LocalDatasource.Infrastructure.Pipelines.GetLocalDatasourceLocation, Sitecore.Foundation.LocalDatasource">
          <patch:attribute name="ZeroDeploy" value="true"/>
        </processor>
      </getRenderingDatasource>
      <indexing.getDependencies>
        <processor type="Sitecore.Foundation.LocalDatasource.Infrastructure.Pipelines.GetLocalDatasourceDependencies, Sitecore.Foundation.LocalDatasource">
          <patch:attribute name="ZeroDeploy" value="true"/>
        </processor>
      </indexing.getDependencies>
    </pipelines>
    <contentSearch>
      <indexConfigurations>
        <defaultLuceneIndexConfiguration type="Sitecore.ContentSearch.LuceneProvider.LuceneIndexConfiguration, Sitecore.ContentSearch.LuceneProvider">
          <documentOptions>
            <fields hint="raw:AddComputedIndexField">
              <field fieldName="local_datasource_content" storageType="NO" indexType="TOKENIZED">
                <patch:delete/>
              </field>
              <field fieldName="local_datasource_content"
                     storageType="NO"
                     indexType="TOKENIZED"
                     type="Sitecore.Foundation.LocalDatasource.Infrastructure.Indexing.LocalDatasourceContentField"
                     ZeroDeploy="true"/>
            </fields>
          </documentOptions>
        </defaultLuceneIndexConfiguration>
      </indexConfigurations>
    </contentSearch>
    <solutionFramework>
      <indexing>
        <providers>
          <add name="localdatasource" type="Sitecore.Foundation.LocalDatasource.Infrastructure.Indexing.LocalDatasourceQueryPredicateProvider, Sitecore.Foundation.LocalDatasource">
            <patch:attribute name="type" value="Sitecore.Foundation.LocalDatasource.Infrastructure.Indexing.LocalDatasourceQueryPredicateProvider"/>
            <patch:attribute name="ZeroDeploy" value="true"/>
          </add>
        </providers>
      </indexing>
    </solutionFramework>
  </sitecore>
</configuration>