<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <!-- INDEXING REST EXCEPTIONS HANDLER
           Pipeline that handles indexing exceptions.
      -->
      <indexingRestExceptionsHandler>
        <!-- WAIT AND RETRY
             Processor that retries a REST call after a specified interval.
             Supported attributes for each statusCodeGroup:

                 NumberOfRetry: Specifies the number of times the processor has to be executed for the specific group.

                 Interval: Specifies the time in milliseconds to wait before retrying the call.

                 StatusCodes: Specifies the list of HTTP status codes the group has to be executed for.
        -->
        <processor name="CoveoWaitAndRetryCloudPlatformCall" type="Coveo.CloudPlatformClientBase.Pipelines.WaitAndRetry, Coveo.CloudPlatformClientBase">
          <groups hint="list:AddStatusCodeGroup">
            <statusCodeGroup name="ThrottlingAndTimeout" type="Coveo.CloudPlatformClientBase.Pipelines.WaitAndRetryStatusCodeGroup, Coveo.CloudPlatformClientBase">
              <numberOfRetry>1000</numberOfRetry>
              <interval>3000</interval>
              <statusCodes hint="list:AddStatusCode">
                <!-- Limit exceeded or too many requests -->
                <statusCode>429</statusCode>
                <!-- Service unavailable -->
                <statusCode>503</statusCode>
                <!-- Gateway timeout -->
                <statusCode>504</statusCode>
              </statusCodes>
            </statusCodeGroup>
            <statusCodeGroup name="ServerError" type="Coveo.CloudPlatformClientBase.Pipelines.WaitAndRetryStatusCodeGroup, Coveo.CloudPlatformClientBase">
              <numberOfRetry>10</numberOfRetry>
              <interval>3000</interval>
              <statusCodes hint="list:AddStatusCode">
                <!-- Internal Server Error -->
                <statusCode>500</statusCode>
              </statusCodes>
            </statusCodeGroup>
          </groups>
        </processor>
      </indexingRestExceptionsHandler>
      <getSearchUserIdentities>
        <!-- The AddAnonymousEmailUserIdentity allows to retrieve the public documents from the external sources. -->
        <processor name="AddAnonymousEmailUserIdentity" type="Coveo.CloudPlatformClient.Processors.GetSearchUserIdentities.AddAnonymousEmailUserIdentity, Coveo.CloudPlatformClient" />
      </getSearchUserIdentities>
    </pipelines>
  </sitecore>
</configuration>