<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <coveo>
      <cloudPlatformConfiguration type="Coveo.Framework.Configuration.CloudPlatformConfiguration, Coveo.Framework">
        <apiKey>xldfCi7dA95+ktChhEsEo49P/5496KEV6UYDQMS9i+AJXHVPx1/8f13cksZlu2an</apiKey>
        <cloudPlatformUri>https://platform.cloud.coveo.com</cloudPlatformUri>
        <organizationId>hedgehogsymposium</organizationId>
        <indexingEndpointUri>https://push.cloud.coveo.com</indexingEndpointUri>
      </cloudPlatformConfiguration>
    </coveo>
  </sitecore>
</configuration>