<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <coveo>
      <restEndpointConfiguration>
        <searchApiUri ref="coveo/cloudPlatformConfiguration/cloudPlatformUri">
        </searchApiUri>
        <apiKey ref="coveo/cloudPlatformConfiguration/apiKey">
        </apiKey>
        <organizationId ref="coveo/cloudPlatformConfiguration/organizationId">
        </organizationId>
        <analyticsUri>https://usageanalytics.coveo.com</analyticsUri>
      </restEndpointConfiguration>
    </coveo>
  </sitecore>
</configuration>