<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <commands>
      <command name="coveo:OpenActionsDialog" type="Coveo.SearchProvider.Applications.Shell.Commands.OpenActionsDialogCommand, Coveo.SearchProvider.Applications" />
      <command name="coveo:OpenConfigurationDialog" type="Coveo.SearchProvider.Applications.Shell.Commands.OpenConfigurationDialogCommand, Coveo.SearchProvider.Applications" />
      <command name="coveo:OpenDiagnosticPage" type="Coveo.SearchProvider.Applications.Shell.Commands.OpenDiagnosticPageCommand, Coveo.SearchProvider.Applications" />
      <command name="coveo:OpenLicenseDialog" type="Coveo.SearchProvider.Applications.Shell.Commands.OpenLicenseDialogCommand, Coveo.SearchProvider.Applications" />
      <command name="coveo:OpenPostInstallationWizard" type="Coveo.SearchProvider.Applications.Shell.Commands.OpenPostInstallationWizardCommand, Coveo.SearchProvider.Applications" />
      <command name="coveo:OpenResourcesDialog" type="Coveo.SearchProvider.Applications.Shell.Commands.OpenResourcesDialogCommand, Coveo.SearchProvider.Applications" />
      <command name="coveo:OpenCloudPlatformPageCommand" type="Coveo.SearchProvider.Applications.Shell.Commands.OpenCloudPlatformPageCommand, Coveo.SearchProvider.Applications" />
      <!-- The TopResultsSynchronizationWizard was moved to the ActionsDialog. Kept for backward compatibility in case of merge upgrade. -->
      <command name="coveo:OpenTopResultsSynchronizationWizard" type="Coveo.SearchProvider.Applications.Shell.Commands.OpenSynchronizeTopResultsWizardCommand, Coveo.SearchProvider.Applications" />
    </commands>
    <controlSources>
      <source mode="on" namespace="Coveo.SearchProvider.Applications.HtmlControls" assembly="Coveo.SearchProvider.Applications" prefix="coveohtml" />
      <source mode="on" namespace="Coveo.SearchProvider.Applications.HtmlControls.OAuth" assembly="Coveo.SearchProvider.Applications" prefix="oauth" />
    </controlSources>
    <pipelines>
      <renderContentEditor>
        <processor patch:before="*[@type='Sitecore.Shell.Applications.ContentEditor.Pipelines.RenderContentEditor.RenderSkinedContentEditor, Sitecore.Client']" type="Coveo.SearchProvider.Licensing.Processors.CoveoRenderContentEditor, Coveo.SearchProvider.Licensing" />
      </renderContentEditor>
    </pipelines>
    <ui>
      <references>
        <reference id="Coveo.SearchProvider.Applications.dll">/bin/Coveo.SearchProvider.Applications.dll</reference>
      </references>
    </ui>
  </sitecore>
</configuration>