<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <solutionFramework>
      <indexing>
        <providers>
          <add name="news" type="Sitecore.Feature.News.Indexing.NewsIndexingProvider, Sitecore.Feature.News">
            <patch:attribute name="type">Sitecore.Feature.News.Indexing.NewsIndexingProvider</patch:attribute>
            <patch:attribute name="ZeroDeploy">true</patch:attribute>
          </add>
            
        </providers>
      </indexing>
    </solutionFramework>
  </sitecore>
</configuration>
