<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <services>
      <register serviceType="Sitecore.Feature.Demo.Contracts.Services.IProfileProvider, Sitecore.Feature.Demo.Contracts"
                implementationType="Sitecore.Feature.Demo.Services.ProfileProvider, Sitecore.Feature.Demo"
                lifetime="Transient" />
      <register serviceType="Sitecore.Foundation.Accounts.Providers.IContactProfileProvider, Sitecore.Foundation.Accounts"
                implementationType="Sitecore.Foundation.Accounts.Providers.ContactProfileProvider, Sitecore.Foundation.Accounts"
                lifetime="Transient" />

      <register serviceType="Sitecore.Feature.Demo.Controllers.DemoController, Sitecore.Feature.Demo"
                implementationType="Sitecore.Feature.Demo.Controllers.DemoController, Sitecore.Feature.Demo"
                lifetime="Transient" />

    </services>
  </sitecore>
</configuration>