<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <solutionFramework>
      <indexing defaultProvider="fallback">
        <providers>
          <add name="fallback" type="Sitecore.Foundation.Indexing.Infrastructure.Providers.FallbackSearchResultFormatter, Sitecore.Foundation.Indexing">
            <patch:attribute name="type" value="Sitecore.Foundation.Indexing.Infrastructure.Providers.FallbackSearchResultFormatter"/>
            <patch:attribute name="ZeroDeploy" value="true"/>
          </add>
        </providers>
      </indexing>
    </solutionFramework>
    <contentSearch>
      <indexConfigurations>
        <defaultLuceneIndexConfiguration type="Sitecore.ContentSearch.LuceneProvider.LuceneIndexConfiguration, Sitecore.ContentSearch.LuceneProvider">
          <documentOptions type="Sitecore.ContentSearch.LuceneProvider.LuceneDocumentBuilderOptions, Sitecore.ContentSearch.LuceneProvider">
            <fields hint="raw:AddComputedIndexField">
              <field fieldName="has_presentation" storageType="no" indexType="untokenized">
                <patch:delete/>
              </field>
              <field fieldName="has_presentation" storageType="no" indexType="untokenized" type="Sitecore.Foundation.Indexing.Infrastructure.Fields.HasPresentationComputedField" ZeroDeploy="true"/>
              <field fieldName="all_templates" storageType="no" indexType="untokenized">
                <patch:delete/>
              </field>
              <field fieldName="all_templates" storageType="no" indexType="untokenized" type="Sitecore.Foundation.Indexing.Infrastructure.Fields.AllTemplatesComputedField" ZeroDeploy="true"/>
              <field fieldName="has_search_result_formatter" storageType="no" indexType="untokenized">
                <patch:delete/>
              </field>
              <field fieldName="has_search_result_formatter" storageType="no" indexType="untokenized" type="Sitecore.Foundation.Indexing.Infrastructure.Fields.HasSearchResultFormatterComputedField" ZeroDeploy="true"/>
            </fields>
          </documentOptions>
        </defaultLuceneIndexConfiguration>
      </indexConfigurations>
    </contentSearch>
  </sitecore>
</configuration>