<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <solutionFramework>
      <indexing>
        <providers>
          <add name="person" type="Sitecore.Feature.Person.Indexing.PersonIndexingProvider, Sitecore.Feature.Person">
            <patch:attribute name="ZeroDeploy" value="true"/>    
          </add>
        </providers>
      </indexing>
    </solutionFramework>
  </sitecore>
</configuration>