<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <initialize>
        <processor type="Sitecore.Feature.Accounts.Pipelines.RegisterWebApiRoutes, Sitecore.Feature.Accounts">
          <patch:attribute name="ZeroDeploy" value="true" />
        </processor>
      </initialize>
    </pipelines>

    <services>


      <register serviceType="Sitecore.Feature.Accounts.Interfaces.Services.IAccountsSettingsService, Sitecore.Feature.Accounts.Interfaces"
                implementationType="Sitecore.Feature.Accounts.Services.AccountsSettingsService, Sitecore.Feature.Accounts"
                lifetime="Transient">
        <patch:attribute name="implementationType">Sitecore.Feature.Accounts.Services.AccountsSettingsService</patch:attribute>
      </register>
      
      <register serviceType="Sitecore.Feature.Accounts.Interfaces.Services.IAccountTrackerService, Sitecore.Feature.Accounts.Interfaces"
                implementationType="Sitecore.Feature.Accounts.Services.AccountTrackerService, Sitecore.Feature.Accounts"
                lifetime="Transient">
        <patch:attribute name="implementationType">Sitecore.Feature.Accounts.Services.AccountTrackerService</patch:attribute>
      </register>
      <register serviceType="Sitecore.Feature.Accounts.Interfaces.Repositories.IAccountRepository, Sitecore.Feature.Accounts.Interfaces"
                implementationType="Sitecore.Feature.Accounts.Repositories.AccountRepository, Sitecore.Feature.Accounts"
                lifetime="Transient">
        <patch:attribute name="implementationType">Sitecore.Feature.Accounts.Repositories.AccountRepository</patch:attribute>
      </register>

      <register serviceType="Sitecore.Feature.Accounts.Interfaces.Services.INotificationService, Sitecore.Feature.Accounts.Interfaces"
                implementationType="Sitecore.Feature.Accounts.Services.NotificationService, Sitecore.Feature.Accounts"
                lifetime="Transient">
        <patch:attribute name="implementationType">Sitecore.Feature.Accounts.Services.NotificationService</patch:attribute>
      </register>
      <register serviceType="Sitecore.Feature.Accounts.Interfaces.Services.IUserProfileProvider, Sitecore.Feature.Accounts.Interfaces"
                implementationType="Sitecore.Feature.Accounts.Services.UserProfileProvider, Sitecore.Feature.Accounts"
                lifetime="Transient">
        <patch:attribute name="implementationType">Sitecore.Feature.Accounts.Services.UserProfileProvider</patch:attribute>
      </register>
      <register serviceType="Sitecore.Feature.Accounts.Interfaces.Services.IProfileSettingsService, Sitecore.Feature.Accounts.Interfaces"
                implementationType="Sitecore.Feature.Accounts.Services.ProfileSettingsService, Sitecore.Feature.Accounts"
                lifetime="Transient">
        <patch:attribute name="implementationType">Sitecore.Feature.Accounts.Services.ProfileSettingsService</patch:attribute>
      </register>
      <register serviceType="Sitecore.Feature.Accounts.Interfaces.Services.IUserProfileService, Sitecore.Feature.Accounts.Interfaces"
                implementationType="Sitecore.Feature.Accounts.Services.UserProfileService, Sitecore.Feature.Accounts"
                lifetime="Transient">
        <patch:attribute name="implementationType">Sitecore.Feature.Accounts.Services.UserProfileService</patch:attribute>
      </register>
      <register serviceType="Sitecore.Foundation.Accounts.Providers.IContactProfileProvider, Sitecore.Foundation.Accounts"
                implementationType="Sitecore.Foundation.Accounts.Providers.ContactProfileProvider, Sitecore.Foundation.Accounts"
                lifetime="Transient">
        <patch:attribute name="serviceType">Sitecore.Foundation.Accounts.Providers.IContactProfileProvider</patch:attribute>
        <patch:attribute name="implementationType">Sitecore.Foundation.Accounts.Providers.ContactProfileProvider</patch:attribute>
      </register>

      <register serviceType="Sitecore.Feature.Accounts.Interfaces.Services.IContactProfileService, Sitecore.Feature.Accounts.Interfaces"
                implementationType="Sitecore.Feature.Accounts.Services.ContactProfileService, Sitecore.Feature.Accounts"
                lifetime="Transient">
        <patch:attribute name="implementationType">Sitecore.Feature.Accounts.Services.ContactProfileService</patch:attribute>
      </register>

      <register serviceType="Sitecore.Feature.Accounts.Controllers.AccountsController, Sitecore.Feature.Accounts"
                implementationType="Sitecore.Feature.Accounts.Controllers.AccountsController, Sitecore.Feature.Accounts"
                lifetime="Transient">
        <patch:delete />
      </register>

    </services>
  </sitecore>
</configuration>