<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <solutionFramework>
      <indexing>
        <providers>
          <add name="pagecontent" type="Sitecore.Feature.PageContent.Indexing.PageContentIndexingProvider, Sitecore.Feature.PageContent">
            <patch:attribute name="ZeroDeploy" value="true"/>
          </add>
        </providers>
      </indexing>
    </solutionFramework>
  </sitecore>
</configuration>